<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <!-- layout:decorate="~{layout.html}" -->
<head>
	<title>Participantes</title>
	<meta charset="UTF-8">

</head>
<body>
	<h1>Cadastro de Participantes</h1>
	<div class="card-body mb-3">
		<div th:attr="class='alert alert-'+${cor}+' d-flex justify-content-center'"	th:if="${mensagem != null}" th:text="${mensagem}"></div>
	
	<form method="post" th:object="${participanteEvento}" th:action="@{/participante/editar}">
	<input type="hidden" th:field="*{id}"></input>
	<div class="form-group mb-3">
		<label for="nome">Nome: <span class="color-red">*</span></label>
		<input type="text" class="form-control" th:field="*{nome}" required placeholder="Digite o seu nome">
	</div>
	<div class="form-group mb-3">
		<label for="nome">Nivel: <span class="color-red">*</span></label>
		<input type="text" class="form-control" th:field="*{nivel}" required placeholder="Digite o seu nivel">
	</div>
	<div class="form-group mb-3">
		<label for="nome">Email: <span class="color-red">*</span></label>
		<input type="email" class="form-control" th:field="*{email}" required placeholder="Digite o seu email">
	</div>
	<div class="form-group mb-3">
		<label for="nome">Quatro Letras: <span class="color-red">*</span></label>
		<input type="text" class="form-control" th:field="*{quatroLetras}" required pattern="[A-Za-z]{4}" placeholder="Digite suas quatro letras">
	</div>
	<div class="form-group mb-3">
					<label for="nome">Grupo:</label> 
					<select class="form-select" th:field="*{grupo}">
					<option th:each="grupo: ${listaGrupo}" th:value="${grupo.id}" th:text="${grupo.nome}" />
					</select>
	</div>
	<div class="form-group mb-3">
        <label for="isAtivo">Status:</label>
        <select class="form-select" th:field="*{isAtivo}">
        <option th:value="1">Ativo</option>
        <option th:value="0">Inativo</option>
        </select>
	</div>
	
		
		<button type="submit">Salvar Participante</button>
	</form>
</body>
</div>
</html>