<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">	
		<title>Participantes</title>	
</head>
<body>
<div layout:fragment="content">
<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum participante encontrado
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>

	<div th:if="${message !=null}">
		<h1 th:text="${message}"></h1>
	</div>
	<div th:if="${lista!=null}">
		<table>
			<thread>
				<tr>
					<th>Id</th>
					<th>Nome do Participante</th>
					<th>Email do Participante</th>
					<th>Nivel do Participante</th>
					<th>Quatro Letras do Participante</th>
					<th>Grupo</th>
					<th>Status do Participante</th>
				</tr>
			</thread>
				<tbody>
					<tr th:each="participanteEvento : ${lista}">
						<td th:text="${participanteEvento.id}"></td>
						<td th:text="${participanteEvento.nome}"></td>
						<td th:text="${participanteEvento.email}"></td>
						<td th:text="${participanteEvento.nivel}"></td>
						<td th:text="${participanteEvento.quatroLetras}"></td>
						<td th:text="${participanteEvento.grupo.nome}"></td>
						<td th:text="${participanteEvento.getIsAtivo} ? 'Ativo' : 'Inativo' ">
						<td><a class="btn btn-primary btn-sm" th:href="@{/participante/editar(id=${participanteEvento.id})}">Editar</a>
					<a class="btn btn-primary btn-sm" th:href="@{/participante/desativar(id=${participanteEvento.id})}" onclick=" confirm('Você realmente deseja modificar o status desse participante?')">Ativar/Desativar</a>
					</td>
						
					</tr>
				</tbody>
		</table>
	</div>
</body>
</div>
</html>