<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
<meta charset="utf-8">
<title>Cadastrar evento</title>

</head>

<body>

	<div layout:fragment="content">
		<div
			th:attr="class='alert alert-'+${cor}+' d-flex justify-content-center'"
			th:if="${mensagem != null}" th:text="${mensagem}"></div>

		<div class="card" th:if="${mensagem == null}">
			<div class="card-header">
				<p class="text-primary">
					<span th:text="${acao}"></span> evento
				</p>
			</div>
			<div class="card-body">
				<form method="POST" th:object="${evento}" th:action="@{/evento/editar}">
					<input type="hidden" th:field="*{id}"></input>
					<div class="form-group mb-3">
						<label for="nome">Nome: <span style="color: red;">*</span>
						</label> <input class="form-control" type="text" th:field="*{nome}"
							required></input>
						<div class="text-danger" th:if="${#fields.hasErrors('nome')}"
							th:errors="*{nome}"></div>
					</div>

					<div class="form-group mb-3">
						<label for="dataInicio">Data Início: <span
							style="color: red;">*</span>
						</label> <input class="form-control" type="date" th:field="*{dataInicio}"></input>
						<div class="text-danger"
							th:if="${#fields.hasErrors('dataInicio')}"
							th:errors="*{dataInicio}"></div>
					</div>
					
					<div class="form-group mb-3">
						<label for="dataFinal">Data Final: <span
							style="color: red;">*</span>
						</label> <input class="form-control" type="date" th:field="*{dataFinal}"></input>
						<div class="text-danger"
							th:if="${#fields.hasErrors('dataFinal')}"
							th:errors="*{dataFinal}"></div>
					</div>
					
					<button type="submit" class="btn btn-primary">
		<span th:text="${acao}"></span> Salvar evento
	</button>
	</form>
			</div>
		</div>
	</div>

	




	<div class="row d-flex justify-content-center"
		style="margin-top: 20px;">
		<a class="btn btn-secondary btn-sm row d-flex justify-content-center"
			th:href="@{/evento}"
			style="margin: auto; width: 30%; padding: 10px 0;">Todos eventos
		</a>
	</div>

	<script th:inline="javascript">
		
	</script>


</body>