<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
	<meta charset="utf-8">
	<title>Eventos</title>


</head>

<body>


	<div layout:fragment="content">

		<div th:attr="class='alert alert-'+${cor}+' d-flex justify-content-center'" th:if="${mensagem != null}"
			th:text="${mensagem}">
		</div>

		<div th:if="${not #lists.isEmpty(lista)}">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nome </th>
						<th scope="col">Data de Início</th>
						<th scope="col">Data Final</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="evento: ${lista}">
						<th th:text="${evento.id}" scope="row"></th>
						<td th:text="${evento.nome}"></td>
						<td th:text="${#temporals.format(evento.dataInicio, 'dd / MM / yyyy')}"></td>
						<td th:text="${#temporals.format(evento.dataFinal, 'dd / MM / yyyy')}"></td>

						
							
						<td>
							<a class="btn btn-secondary btn-sm" th:href="@{/evento/editar?(id=${evento.id})}"
								style="padding: 5px 30px;">Editar</a>

							<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
								th:attr="data-bs-target='#deleteModal'+${evento.id}" style="padding: 5px 30px;">
								Deletar
							</button>

							<div class="modal fade" th:attr="id='deleteModal'+${evento.id}" tabindex="-1" role="dialog"
								aria-labelledby="TituloModalCentralizado" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="TituloModalCentralizado">Tem certeza que deseja
												excluir evento <span th:text="${evento.nome}"></span> </h5>
											<button type="button" class="close" data-bs-dismiss="modal"
												aria-label="Fechar"
												style="border: 0; background-color: rgba(0, 0, 0, 0);">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Não</button>
											<a type="button" class="btn btn-danger"
												th:href="@{/evento/deletar?(id=${evento.id})}">Deletar</a>
										</div>
									</div>
								</div>
							</div>

						</td>
					</tr>
				</tbody>
			</table>
			<div class="row d-flex justify-content-center">
				<a class="btn btn-secondary btn-sm row d-flex justify-content-center" th:href="@{/evento/editar}"
					style="margin: auto;width: 30%; padding: 10px 0;">Criar novo evento</a>
			</div>
		</div>

	</div>


</body>


</html>