<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <!--  layout:decorate="~{layout.html}"-->
	<meta charset="UTF-8">
	<title>Grupos</title>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome do Grupo</th>
					<th>Quantidade de Participantes</th>
					<th>Opções</th>
				</tr>
			</thread>
				<tbody>
					<tr th:each="grupo : ${listaGrupo}">
						<td th:text="${grupo.id}"></td>
						<td th:text="${grupo.nome}"></td>
						<td th:text="${grupo.quantidadeDePessoas}"></td>
						<td><a class="btn btn-primary btn-sm" th:href="@{grupo/editar(id=${grupo.id})}">Editar</a>
							<a class="btn btn-primary btn-sm" th:href="@{/grupo/excluir(id=${grupo.id})}" onclick="confirm('Você realmente deseja excluir o grupo?')">Excluir</a>
						</td>
					</tr>
				</tbody>
		</table>
	</div>
</body>
</html>