<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
		<title>Grupos</title>
</head>
<body>
	<div th:if="${message !=null}">
		<h1 th:text="${message}"></h1>
	</div>
	<div th:if="${listaGrupo!=null}">
		<table>
			<thread>
				<tr>
					<th>Id</th>
					<th>Nome do Grupo</th>
					<th>Quantidade de Participantes</th>
				</tr>
			</thread>
				<tbody>
					<tr th:each="grupo : ${listaGrupo}">
						<td th:text="${grupo.id}"></td>
						<td th:text="${grupo.nome}"></td>
						<td th:text="${grupo.quantidadeDePessoas}"></td>
					</tr>
				</tbody>
		</table>
	</div>
</body>
</html>