<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutSemMenu.html}">

<head>
	<meta charset="utf-8">
</head>

<body>
	<div layout:fragment="content">

		<div class="container g6-card-forms-container-a">
			<div class="card g6-main-card g6-main-card-cadastro mb-3">
				<div class="card-header g6-card-header-title-b1">
					<div><img id="" th:src="@{/images/icons/calendario.ico}" /></div>
					<h5 class="card-title">Eventos GFT</h5>
				</div>
				<div class="card-header g6-card-header-title-b2 mb-3">
					<h5 class="card-title g6-title-card-header-b2">Cadastrar-se como administrador</h5>
				</div>
				<div class="card-body mb-3">
					<div th:attr="class='alert alert-'+${cor}+' d-flex justify-content-center'"
						th:if="${mensagem != null}" th:text="${mensagem}">
					</div>
					<form class="g6-form-card" method="POST" th:action="@{/usuario/salvar}" th:object="${usuario}">
						<div class="form-group mb-3">
							<label for="nome">Nome: <span class="color-red">*</span></label>
							<input type="text" class="form-control" th:field="*{nome}" required>
						</div>
						<div class="form-group mb-3">
							<label for="email">Email: <span class="color-red">*</span></label>
							<input type="email" class="form-control" th:field="*{email}" required>
						</div>
						<div class="form-group mb-3">
							<label for="quatroLetras">4 Letras: <span class="color-red">*</span></label>
							<input type="text" class="form-control" th:field="*{quatroLetras}" minlength="4" maxlength="4" required>
						</div>
						<div class="form-group mb-3">
							<label for="senha">Senha: <span class="color-red">*</span></label>
							<input type="password" class="form-control" id="exampleInputPassword1" th:field="*{senha}" required>
						</div>
						<button type="submit" class="btn g6-btn-card-forms mb-3">Cadastrar-se</button>
					</form>

					<p class="card-text card-text-entrar-cadastrar">
						<small class="text-muted">
							Já possui conta?
							<a th:href="@{/usuario}" class="card-link">Entrar</a>
						</small>
					</p>
					<div class="card-header g6-card-header-title-b2 mb-3">
						<div><img id="logo-gft-card-form" th:src="@{/images/icons/logoGFT_1.png}" /></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>


</html>