<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutSemMenu.html}">

<head>
	<meta charset="utf-8">
</head>

<body>
	<div layout:fragment="content">

		<div class="container usuario">
			<div class="card usuario-card mb-3">
				<div th:if="mensagem != null" class="card-body mb-3" th:text="${mensagem}">
					
				</div>
				<div id="informacoes-usuario" th:if="usuario == null" class="card-body mb-3">
					<p>Nome: <span th:text="${usuario.nome}"></span></p>
					<p>Email: <span th:text="${usuario.email}"></span></p>
					<p>4 Letras: <span th:text="${usuario.quatroLetras}"></span></p>
				</div>
			</div>
		</div>

	</div>
</body>


</html>